<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
   href="../asset/css/styles.css">

  

</head>
<body>
    <div class="header">
        <div class="hindu-logo" >
            <img src="../asset/image/logo.jpeg" class="logo"> 
        </div>
        <h1 style="color: orange; text-align: center; font-weight: 100;">HINDU MANDAL OF RWANDA</h1>
        <hr style="margin-left: 10%; margin-right: 10%;">
    
    <header>
        <nav class="fixed">
            <h1 style="text-align: center; color: rgb(122, 110, 98);">
                <a href="../index.php">HOMEPAGE</a>
                
                <a href="events.html">EVENTS</a>
            
                <a href="about.html" style="color:red">ABOUT US</a>
            
                <a href="support.html">SUPPORT US</a>
            
                <a href="contact.html">CONTACT US</a>
            </h1><br>  
            </nav>  
         
     </header>
    </div>
</div>
<h2 class="event"><div class="event-holder"> ABOUT US</div></h2> 
<div class="about-card">
    <div class="about-card-row">
         <p>
             <b>
                 HISTORY
             </b>
         </p>
         <p>
             <b>
                Hinduism
             </b>
         </p>
         <p>
            
            Hinduism is a way of life, it is the world’s third largest religion and the oldest. We have a diverse system of thoughts marked by a range of philosophies and shared concepts that discuss theology, metaphysics, yoga and other topics.
            (Hinduism is the world’s oldest religion, according to many scholars, with roots and customs dating back more than 4,000 years. Today, with about 900 million followers, Hinduism is the third-largest religion. Roughly 95 percent of the world’s Hindus live in India. Hinduism is unique in that it’s not a single religion but a compilation of many traditions and philosophies.)
            
            Themes in our beliefs the four aims of human life which are: Dharma (ethics/duties), Artha (prosperity/work), Karma (Action) and Samsara (liberation/salvation). We prescribe the eternal duties such as Honesty, refraining from injuring any living being, patience, forbearance, self-restraint and compassion among others. Our practices include the following rituals: Puja (worship), Japa (recitations), Dhyana (meditation), and family-oriented rites of passage, annual festivals and occasional pilgrimages.
            
         </p>
         <button class="read-more">read more</button>
    </div>
    <div class="about-card-row">
        <p>
            <b>
                ABOUT HINDU RWANDA
            </b>
            <p><b>
                  
                  The Hindu Temple of Rwanda

               </b>

            </p>
            <p>
                The HTR (Hindu Temple of Rwanda) is the infrastructure we have established to allow every Hindu’s to be able to worship and practice every rituals in the right way and right place. Though we got established as an infrastructure in 2018, Hinduism arrived in Rwanda back in 1470 by Guru Nanak Dev Ji. A lot has been done before the construction of the temple but more when we got somewhere to gather, practice rituals, share ideas and live like a family.
HTR has most of the Hindu Gods like Ganesha, Shiva Parvathi, Rama- Sita, Radha-Krihna, Dhathreyar, Anjaneyar, Iyappan, Murugar Vali Deivanai, Shirdi Saibaba, Seamy Narayan, Durgai, Saraswathi, Lakshmi and Navagriham..

Here are some of the key beliefs shared among Hindus:
Truth is eternal.
Hindus pursue knowledge and understanding of the Truth: the very essence of the universe and the only Reality. According to the Vedas, Truth is One, but the wise express it in a variety of ways.
Brahman is Truth and Reality.
Hindus believe in Brahman as the one true God who is formless, limitless, all-inclusive, and eternal.


            </p>
        </p>
        <button class="read-more">read more</button>
    </div>
</div>

<footer class="footer">
    <div class="footer-holder">
    Copyright 2021 HINDU TEMPLE OF RWANDA
</div>
</footer>
    
</body>
</html>