<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
    href="../asset/css/styles.css">
   

</head>
<body>
    <div class="header"> <h1 style="color: orange; text-align: center; font-weight: 100;">HINDU MANDAL OF RWANDA</h1>
        <hr style="margin-left: 10%; margin-right: 10%;">

    <header>
        <nav class="fixed">
            <h1 style="text-align: center; color: rgb(122, 110, 98);">
                <a href="../index.php">HOMEPAGE</a>
            
                <a href="./events.html">EVENTS</a>
            
                <a href="./about.html">ABOUT US</a>
            
                <a href="support.html">SUPPORT US</a>
            
                <a href="contact.html">CONTACT US</a>
            </h1><br>  
            </nav> 
        
     </header>
    </div>
</div>
<h2 class="event"><div class="event-holder"> CONTACT US</div></h2> 
<footer class="footer">
    <div class="footer-holder">
    Copyright 2021 HINDU TEMPLE OF RWANDA
</div>
</body>
</html>