<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
    href="../asset/css/styles.css">

  

    
</head>
<body>
    <div class="header">
        <div class="hindu-logo" >
            <img src="../asset/image/logo.jpeg" class="logo"> 
        </div>
        <h1 style="color: orange; text-align: center; font-weight: 100;">HINDU MANDAL OF RWANDA</h1>
        <hr style="margin-left: 10%; margin-right: 10%;">
    
    <header>
        <nav class="fixed">
            <h1 style="text-align: center; color: rgb(122, 110, 98);">
                <a href="../index.php">HOMEPAGE</a>
            
                <a href="events.html" style="color:red">EVENTS</a>
            
                <a href="about.html">ABOUT US</a>
            
                <a href="support.html">SUPPORT US</a>
            
                <a href="contact.html">CONTACT US</a>
            </h1><br>  
            </nav>
            
     </header>
    </div>

    <h2 class="event"><div class="event-holder"> EVENTS</div></h2>
    <div class="about-card">
    <div class="about-card-row">
         <p>
             <b>
                News & Events
             </b>
         </p>
         <p>
             <b>
              
             </b>
         </p>
         <p>
            
        
<b>Ganesh Chaturthi – Day 1 Aarti</b> on Monday, 23 August 2021 <br><br>
Ganpati Bappa moray!<br>
<b>Navrati</b> on Wednesday, 29 September 2021
Navrati is a 9-day long festival, one of the most auspicious festivals celebrated y Hindus which honours Goddess Durga. Devotees celebrate the nine days with fasting and offering prayers to Maa Durga and her nine avatars.
Goddess Durga is an embodiment of Shakti who overcame the evils of the world. Navrati blesses us with power to overcome problems in life.<br>
<b>Maataji Stapna</b> (Navrati day 1) on Wednesday, 29 September 2021





            
         </p>
         <button class="read-more">read more</button>
    </div>
    <div class="about-card-row">
        <p>
            <b>
                ABOUT HINDU RWANDA
            </b>
            <p><b>
                  
                  The Hindu Temple of Rwanda

               </b>

            </p>
            <p>
                The HTR (Hindu Temple of Rwanda) is the infrastructure we have established to allow every Hindu’s to be able to worship and practice every rituals in the right way and right place. Though we got established as an infrastructure in 2018, Hinduism arrived in Rwanda back in 1470 by Guru Nanak Dev Ji. A lot has been done before the construction of the temple but more when we got somewhere to gather, practice rituals, share ideas and live like a family.
HTR has most of the Hindu Gods like Ganesha, Shiva Parvathi, Rama- Sita, Radha-Krihna, Dhathreyar, Anjaneyar, Iyappan, Murugar Vali Deivanai, Shirdi Saibaba, Seamy Narayan, Durgai, Saraswathi, Lakshmi and Navagriham..

Here are some of the key beliefs shared among Hindus:
Truth is eternal.
Hindus pursue knowledge and understanding of the Truth: the very essence of the universe and the only Reality. According to the Vedas, Truth is One, but the wise express it in a variety of ways.
Brahman is Truth and Reality.
Hindus believe in Brahman as the one true God who is formless, limitless, all-inclusive, and eternal.


            </p>
        </p>
        <button class="read-more">read more</button>
    </div>
</div>
 
    <footer class="footer">
        <div class="footer-holder">
        Copyright 2021 HINDU TEMPLE OF RWANDA
    </div>
    
</body>
</html>